// zmienne definiujemy od $. Zmienna jest pojemnikiem który coś trzyma. Zmienna trzyma dane.
//podkreślnik w nazwie umożliwia importowanie 
$primaryColor :  #b8740d;
$textShadowColor :  #d16565;
$footerHeight: 84px;